body{
	background-color: LightPink;
}
h1{
	color: DeepSkyBlue;
	text-align: center;
	font-style: bold;
	font-family: "Lucida Console", Monaco, monospace;
}
h2{
	color: Crimson;

}
header{
    padding: lem;
    color: white;
    background-color: LightPink;
    clear: left;
    text-align: center;
}

